body{
	margin: 0px;
	font-size: 13px;
	background: #f1f1f1;
	font-family: 'Lato', sans-serif;
}

.cursor{
	cursor: pointer;
}

.derecha{
	float: right;
}

h1,h2{
	padding: 0px;
}

a{
	color: #000;
}

a:hover{
	color: #666;
}

.encabezado{
	margin: 5px auto; /*asi se queda siempre en el centro*/
	max-width: 965px; /*indicando un maximo permites que sea mas pequeño*/
	height: 100px;
	background: #fff;
	border: 1px solid #ddd;
}

.menu{
	margin: 5px auto; /*asi se queda siempre en el centro*/
	max-width: 965px; /*indicando un maximo permites que sea mas pequeño*/
	height: 40px;
	background: #fff;
	border: 1px solid #ddd;
}

.cuerpo{
	margin: 5px auto; /*asi se queda siempre en el centro*/
	max-width: 949px; /*indicando un maximo permites que sea mas pequeño*/
	min-height: 600px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 8px
}

.cargarmas{
	margin-left: 400px;
	padding: 4px;
}

.pie{
	margin: 5px auto; /*asi se queda siempre en el centro*/
	max-width: 965px; /*indicando un maximo permites que sea mas pequeño*/
	height: 50px;
	background: #fff;
	border: 1px solid #ddd;
	text-align: center;
	padding-top: 10px;
}

#logo{
	padding: 4px;
	float: left;
}

.item_menu{
	float: left;
	font-size: 16px;
	padding: 10px 5px;
	list-style: none;  /*para que no salga un puntito a la izquierda porque es un li*/
}

.item_menu_login{
	float: right;
	font-size: 16px;
	padding: 10px 5px;
	list-style: none; /*para que no salga un puntito a la izquierda porque es un li*/
}

#fondonegro{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #666;
	z-index: 99;
	opacity: 0.5;
}

#flotantelogin{
	z-index: 999;
	border: 8px solid #fff;
	box-shadow: 0px 0px 19px 1px #6D6D6D;
	margin-top: -156px;
	margin-left: -153px;
	top: 50%;
	left: 50%;
	padding: 12px;
	position: fixed;
	width: 265px;
	background-color: #fff;
	border-radius: 15px;
	padding-bottom: 15px;
	font-size: 14px;
}

#cookies{
	height: 40px;
	width: 100%;
	background: #ccc;
	text-align: center;
	line-height: 38px; /*para que el texto se alinee verticalmente*/
}

.titulo_anuncio{
	width: 400px;
	height: 20px;
	padding: 4px;
	margin-bottom: 8px;
}

.textarea_anuncio{
	width: 400px;
	height: 200px;
	padding: 4px;
	margin-bottom: 8px;
}

.imagen_anuncio{
	margin-bottom: 8px;
}

#listado_anuncios{
	height: 120px;
	border: 1px solid #ddd;
	margin: 8px;
}

.foto_miniatura_anuncio{
	padding: 10px;
	float: left;
}

#error, #error_login{
	color: red;
	height: 17px;
}

.mi_input{
	padding: 4px;
	width: 200px;
	margin: 5px 0px;
}

#buscador{
	float: right;
	margin: 41px 12px 0px 0px;
}

#resultados_busqueda{
	float: left;
	position: absolute;
	z-index: 99;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	width: 163px;
	padding: 4px;
}

.articulo{
	border: 10x solid #ddd;
	margin: 8px;
	padding: 4px;
}

img{
	max-width: 500px;
}